<div class="main records-new">
  <div class="container">
    <h2>新規投稿</h2>
    <%= form_tag("/record/#{@date}/create") do %>
      <div class="form">
        <div class="form-body">

          <% if @error_message %>
            <div class="error_message">
              <%= @error_message %>
            </div>
          <% end %>

          <p>種目名</p>
          <% if @workout %>
            <input readonly name="workout_name" value="<%= @workout.name %>">
            <%= link_to("種目を変更する","/record/#{@date}/choose_workout") %>
          <% else %>
            <%= link_to("種目を選択","/record/#{@date}/choose_workout") %>
          <% end %>
          <% for count in 1..5 do %>
            <p><%= count %> セット目</p>
            <p>重量</p>
            <input name="<%= "weight_#{count}" %>">
            <p>回数</p>
            <input name="<%= "repetitions_#{count}" %>">
          <% end %>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>
