<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Workout Record","/") %>
      </div>
      
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧","/users/index") %>
          </li>
          <li>
            <%= link_to("記録一覧","/record/index/#{@this_month}") %>
          </li>
          <li>
            <%= link_to("種目分析","/categories/index") %>
          </li>
          <li>
            <%= link_to("種目登録","/workouts/new/0") %>
          </li>
          <li>
            <%= link_to("トレーニングメニュー","/routines/index") %>
          </li>
          <li>
            <%= link_to("ログアウト","/logout",data:{"turbo-method": :post}) %>
          </li>
        <% else%>
          <li>
            <%= link_to("ログイン","/login") %>
          </li>
          <li>
            <%= link_to("新規登録","/signup") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end%>

    <%= yield %>
  </body>
</html>
