<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Workout Record","/") %>
      </div>
      
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= @current_user.name %>
          </li>
          <li>
            <%= link_to("記録一覧","/record/index") %>
          </li>
          <li>
            <%= link_to("種目登録","/record/workout") %>
          </li>
          <li>
            <%= link_to("ログアウト","/logout",data:{"turbo-method": :post}) %>
          </li>
        <% else%>
          <li>
            <%= link_to("ログイン","/login") %>
          </li>
          <li>
            <%= link_to("新規登録","/signup") %>
          </li>
        <% end %>
      </ul>

    </header>

    <%= yield %>
  </body>
</html>
